USE [master]
GO
/****** Object:  Database [TvPad2]    Script Date: 28/01/2015 23:56:52 ******/
CREATE DATABASE [TvPad2]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'tvpad_v2', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\tvpad_v2.mdf' , SIZE = 5120KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'tvpad_v2_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\tvpad_v2_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [TvPad2].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [TvPad2]
GO
/****** Object:  Table [dbo].[FACEBOOK_DATA]    Script Date: 28/01/2015 23:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[FACEBOOK_DATA](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[AUTHOR_ID] [numeric](28, 0) NULL,
	[CAPTION] [varchar](max) NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[DESCRIPTION] [varchar](max) NULL,
	[FEED_REF] [varchar](max) NULL,
	[LIKES] [numeric](28, 0) NULL,
	[LINK] [varchar](max) NULL,
	[MESSAGE] [varchar](max) NULL,
	[PICTURE] [varchar](max) NULL,
	[SN_ID] [varchar](max) NULL,
	[TYPE] [varchar](255) NULL,
	[REQUEST_ID] [numeric](19, 0) NOT NULL,
	[SOURCE_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[HASHTAG]    Script Date: 28/01/2015 23:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[HASHTAG](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[TEXT] [varchar](255) NOT NULL,
	[TWEET_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[MEDIA]    Script Date: 28/01/2015 23:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[MEDIA](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[EXPANDED_URL] [varchar](255) NOT NULL,
	[TYPE] [varchar](255) NOT NULL,
	[TWEET_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[REQUEST]    Script Date: 28/01/2015 23:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[REQUEST](
	[ID] [numeric](19, 0) NOT NULL,
	[DESCRIPTION] [varchar](255) NULL,
	[KEYWORD_FILTER] [varchar](255) NOT NULL,
	[LANGUAGE_FILTER] [varchar](255) NULL,
	[LOCATION_FILTER] [varchar](255) NULL,
	[NAME] [varchar](255) NOT NULL,
	[START_DATE] [datetime] NOT NULL,
	[STOP_DATE] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SOURCE]    Script Date: 28/01/2015 23:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[SOURCE](
	[ID] [numeric](19, 0) NOT NULL,
	[INFO_LEVEL] [varchar](255) NULL,
	[SOCIAL_NETWORK] [varchar](255) NOT NULL,
	[SRC_SN_ID] [varchar](255) NULL,
	[SRC_SN_NAME] [varchar](255) NULL,
	[TYPE] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[SOURCES_REQUEST]    Script Date: 28/01/2015 23:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SOURCES_REQUEST](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[REQUEST_ID] [numeric](19, 0) NOT NULL,
	[SOURCE_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[TWEET]    Script Date: 28/01/2015 23:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[TWEET](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[CREATION_DATE] [datetime] NOT NULL,
	[FAVORITES_COUNT] [int] NOT NULL,
	[LANGUAGE] [varchar](255) NOT NULL,
	[LATITUDE] [float] NULL,
	[LONGITUDE] [float] NULL,
	[TEXT] [varchar](255) NOT NULL,
	[TWEET_ID] [numeric](28, 0) NOT NULL,
	[USER_FOLLOWER_COUNT] [int] NOT NULL,
	[USER_ID] [numeric](28, 0) NOT NULL,
	[USER_LISTED_COUNT] [int] NOT NULL,
	[USER_LOCATION] [varchar](255) NULL,
	[REQUEST_ID] [numeric](19, 0) NULL,
	[SOURCE_ID] [numeric](19, 0) NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[URL]    Script Date: 28/01/2015 23:56:52 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[URL](
	[ID] [numeric](19, 0) IDENTITY(1,1) NOT NULL,
	[EXPANDED_URL] [varchar](255) NOT NULL,
	[TWEET_ID] [numeric](19, 0) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[FACEBOOK_DATA]  WITH CHECK ADD  CONSTRAINT [FACEBOOK_DATASOURCE_ID] FOREIGN KEY([SOURCE_ID])
REFERENCES [dbo].[SOURCE] ([ID])
GO
ALTER TABLE [dbo].[FACEBOOK_DATA] CHECK CONSTRAINT [FACEBOOK_DATASOURCE_ID]
GO
ALTER TABLE [dbo].[FACEBOOK_DATA]  WITH CHECK ADD  CONSTRAINT [FACEBOOKDATAREQUEST_ID] FOREIGN KEY([REQUEST_ID])
REFERENCES [dbo].[REQUEST] ([ID])
GO
ALTER TABLE [dbo].[FACEBOOK_DATA] CHECK CONSTRAINT [FACEBOOKDATAREQUEST_ID]
GO
ALTER TABLE [dbo].[HASHTAG]  WITH CHECK ADD  CONSTRAINT [FK_HASHTAG_TWEET_ID] FOREIGN KEY([TWEET_ID])
REFERENCES [dbo].[TWEET] ([ID])
GO
ALTER TABLE [dbo].[HASHTAG] CHECK CONSTRAINT [FK_HASHTAG_TWEET_ID]
GO
ALTER TABLE [dbo].[MEDIA]  WITH CHECK ADD  CONSTRAINT [FK_MEDIA_TWEET_ID] FOREIGN KEY([TWEET_ID])
REFERENCES [dbo].[TWEET] ([ID])
GO
ALTER TABLE [dbo].[MEDIA] CHECK CONSTRAINT [FK_MEDIA_TWEET_ID]
GO
ALTER TABLE [dbo].[SOURCES_REQUEST]  WITH CHECK ADD  CONSTRAINT [SOURCESREQUESTSOURCEID] FOREIGN KEY([SOURCE_ID])
REFERENCES [dbo].[SOURCE] ([ID])
GO
ALTER TABLE [dbo].[SOURCES_REQUEST] CHECK CONSTRAINT [SOURCESREQUESTSOURCEID]
GO
ALTER TABLE [dbo].[SOURCES_REQUEST]  WITH CHECK ADD  CONSTRAINT [SURCESREQUESTREQUESTID] FOREIGN KEY([REQUEST_ID])
REFERENCES [dbo].[REQUEST] ([ID])
GO
ALTER TABLE [dbo].[SOURCES_REQUEST] CHECK CONSTRAINT [SURCESREQUESTREQUESTID]
GO
ALTER TABLE [dbo].[TWEET]  WITH CHECK ADD  CONSTRAINT [FK_TWEET_REQUEST_ID] FOREIGN KEY([REQUEST_ID])
REFERENCES [dbo].[REQUEST] ([ID])
GO
ALTER TABLE [dbo].[TWEET] CHECK CONSTRAINT [FK_TWEET_REQUEST_ID]
GO
ALTER TABLE [dbo].[TWEET]  WITH CHECK ADD  CONSTRAINT [FK_TWEET_SOURCE_ID] FOREIGN KEY([SOURCE_ID])
REFERENCES [dbo].[SOURCE] ([ID])
GO
ALTER TABLE [dbo].[TWEET] CHECK CONSTRAINT [FK_TWEET_SOURCE_ID]
GO
ALTER TABLE [dbo].[URL]  WITH CHECK ADD  CONSTRAINT [FK_URL_TWEET_ID] FOREIGN KEY([TWEET_ID])
REFERENCES [dbo].[TWEET] ([ID])
GO
ALTER TABLE [dbo].[URL] CHECK CONSTRAINT [FK_URL_TWEET_ID]
GO
USE [master]
GO
